[package]
name = "mdsilo"
version = "0.5.10"
description = "mdSilo Desktop"
authors = ["dloh"]
license = "AGPL-3.0-or-later"
repository = ""
default-run = "mdsilo"
edition = "2021"
rust-version = "1.65.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }

[dependencies]
serde_json = "1.0.114"
serde = { version = "1.0.197", features = ["derive"] }
tauri = { version = "1.6.1", features = ["clipboard-all", "dialog-all", "protocol-all", "shell-all", "system-tray", "updater", "window-all"] }
trash = "4.1.0"
notify = "6.1.1"
open = "5.1.1"
bincode = "1.3.3"
chrono = "0.4.34"
whatlang = "0.16.4"
# walk dir
crossbeam = "0.8.4"
ignore = "0.4.20"
indextree = "4.6.0"
## rss reader
reqwest = { version = "0.12.2", features = ["json", "socks"] }
rss = { version = "2.0.7", features = ["serde"] }
atom_syndication = "0.12.2"
bytes = "1.5.0"
diesel = { version = "2.1.4", features = ["sqlite", "chrono"] }
diesel_migrations = { version = "2.1.0", features = ["sqlite"] }
libsqlite3-sys = { version = "0.28.0", features = ["bundled"] }

[dev-dependencies]
tokio = { version = "1.37.0", features = ["full"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = [ "custom-protocol" ]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = [ "tauri/custom-protocol" ]

[profile.release]
strip = true 
lto = true
opt-level = "s"
