[package]
name = "mdsilo"
version = "0.5.5"
description = "mdSilo Desktop"
authors = ["dloh"]
license = "AGPL-3.0-or-later"
repository = ""
default-run = "mdsilo"
edition = "2021"
rust-version = "1.60.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2.1", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2.1", features = ["clipboard-all", "dialog-all", "protocol-all", "shell-all", "window-all"] }
trash = "3.0.1"
notify = "5.1.0"
open = "3.2.0"
bincode = "1.3.3"
chrono = "0.4.23"
async-recursion = "1.0.2" 
## rss reader
reqwest = { version = "0.11.14", features = ["json", "socks"] }
rss = { version="2.0.2", features = ["serde"] }
atom_syndication = "0.12.0"
bytes = "1.4.0"
diesel = { version = "2.0.2", features = ["sqlite", "chrono"] }
diesel_migrations = { version = "2.0.0", features = ["sqlite"] }
libsqlite3-sys = { version = "0.25.2", features = ["bundled"] }

[dev-dependencies]
tokio = {version="1.25.0", features = ["full"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = [ "custom-protocol" ]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = [ "tauri/custom-protocol" ]

[profile.release]
strip = true 
lto = true
opt-level = "s"
