@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.2em;
  }
}

@layer components {
  .btn {
    @apply px-5 py-3 font-medium text-white transition duration-200 ease-in-out rounded shadow bg-primary-600 hover:bg-opacity-75;
  }

  .pop-btn {
    @apply px-2 py-2 text-sm text-black rounded shadow bg-green-200 hover:bg-green-100;
  }

  .m-btn0 {
    @apply px-2 py-1 text-xs text-black rounded shadow bg-green-200 hover:bg-green-100;
  }

  .m-btn1 {
    @apply px-2 py-1 text-xs text-black rounded shadow bg-blue-200 hover:bg-blue-100;
  }

  .m-btn2 {
    @apply px-2 py-1 text-xs text-black rounded shadow bg-orange-200 hover:bg-orange-100;
  }

  .card {
    @apply max-w-md p-8 overflow-hidden bg-white rounded shadow-md;
  }

  .input {
    @apply block py-1 text-gray-500 border-gray-300 rounded shadow-sm focus:ring-yellow-300 focus:border-primary-50;
  }

  .link {
    @apply cursor-pointer text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300;
  }
  .splash-bg {
    background: linear-gradient(55deg, #414b61 0 45%, #2d3343 45% 100%);
  }
  .img-effect {
    --m:
      radial-gradient(circle farthest-side at right,#000 99%,#0000) 0 100%/46% 92% no-repeat,
      radial-gradient(circle farthest-side at left,#000 99%,#0000) 100% 0/46% 92% no-repeat;
    -webkit-mask: var(--m);
            mask: var(--m);
  }

  .content {
    line-height: 1.8;
  }
  .content a {
    color: green;
  }
  .content a:hover {
    text-decoration: underline;
  }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    padding: 12px 0;
    line-height: 1.2em;
  }
  .content pre {
    white-space: break-spaces;
  }
  .content img, .content video {
    display: block;
    max-width: 100% !important;
    height: auto;
    margin: 10px auto;
  }
  .content blockquote {
    font-weight: 400;
    margin: 2rem 0;
    padding-left: 1rem;
    border-left: 6px solid greenyellow;
  }
  .content p {
    line-height: 1.6;
    font-weight: 400;
    font-size: 18px;
    margin: 1.2rem 0;
  }
  .content table, .content th, .content td {
    border: 1px solid;
    padding: 6px;
  }
  .content hr {
    margin: 2.4rem 0;
  }
  .content figcaption {
    text-align: center;
    color: #f4f4f5;
  }
}

:root {
  /* This is used for the spinner and progress bar */
  --color-primary-500: #00bfd8;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-400;
  }
}
