name: Jest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16.x

    - run: yarn lint
    # - run: yarn test  # to tackle err: SyntaxError: Cannot use import statement outside a module
